{% block content %}
<div>
    <span> Password :
        <input type="password"
               {% if has_password %} value = "GARBAGE" {% endif %}
               {% if not has_password %} value = "" {% endif %}
               id="passwordField"
               disabled
        />
    </span>
    <button id="editPassword" onclick="setPassword(event)">Edit</button>
</div>
<script>
    function setPassword(e) {
        const passwordField = document.getElementById("passwordField");
        const emailField = document.getElementsByClassName("email")[0];
        const csrfmiddlewaretoken = Cookies.get('csrftoken');
        if (e.target.innerText === "Edit") {
            e.target.innerText = "Save";
            passwordField.value = "";
            passwordField.disabled = false;
        } else {
            const putData = {
                password: passwordField.value,
                email: emailField.innerText,
            };
            fetch("/update_pass/", {
                method: "PUT",
                body: JSON.stringify(putData),
                headers: {
                    "X-CSRFToken": csrfmiddlewaretoken,
                },
            });
            e.target.innerText = "Edit";
            const passwordValue = passwordField.value;
            passwordField.disabled = true;
        }
    }
</script>
{% endblock %}